ul {
  padding-left: 0;
}

li {
  list-style: none;
}

[inert] {
  opacity: 0.5;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

main.lock-scroll {
  overflow-y: hidden;
}

img {
  display: inline-block;
}

.flipOut {
  animation: flipOut 0.25s ease-in-out 1;
  animation-fill-mode: forwards;
}

.flipIn {
  animation: flipIn 0.25s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes flipOut {
  0% {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(180deg);
  }
}

@keyframes flipIn {
  0% {
    transform: rotateX(180deg);
  }

  to {
    transform: rotateX(1turn);
  }
}
